// button fix
button:focus {
  outline: none !important;
}

h3,
.h3 {
  font-size: 21.14px !important;
}

.pr-4 {
  padding-right: 1rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}